.navbar {
  position: sticky;
  top: 0;
  background: #202020;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.logo {
  color: red;
}

.search {
  padding: 8px;
  width: 300px;
  border-radius: 20px;
  border: none;
}