.sidebar {
  width: 200px;
  background: #181818;
  height: 100vh;
  padding: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background: #333;
}

.active {
  background: red;
}